<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <title>Documento</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/api/footer.css">
    <link rel="stylesheet" href="/api/sass/styleIndex.css">
    <link rel="stylesheet" href="/api/sass/styleNav.css">
</head>
<body>
    <%- include("components/Nav.ejs") %>
    <h1>Plataforma</h1>
    <form method="post" id="formAdd" enctype="multipart/form-data">
        <div class="input">
            <input type="file" name="archivo" id="archivo">
            <span id="subir">Subir un archivo</span>
        </div>
        <p id='data-file'></p>
        <div class="buttons-p-v">
            <button id="public" type="button">Publico</button>
            <button id="private" type="button">Privado</button>
        </div>
        <button id="send">Enviar</button>
    </form>
    <h2 id="private-arch">Tus Archivos Privados:</h2>
    <div class="datosPrivados"></div>

    <h2 class="archivos">Archivos Publicos:</h2>
    <div class="dadArchivos"></div>
    <%- include('components/Footer.ejs') %>
    <script src="/socket.io/socket.io.js"></script>
    <script>

        const socketArchivos = io();

        let pv = 'publico';
        let dp = document.querySelector('.datosPrivados');

        document.querySelector("#public").addEventListener("click", (e) => {
            pv = 'publico'
            document.querySelector('#private').disabled = false;
            e.target.disabled = true;
        })

        document.querySelector('#private').addEventListener('click', (e) => {
            pv = 'privado';
            document.querySelector("#public").disabled = false;
            e.target.disabled = true;
        })

        const obtenerArchivos = () => {

            socketArchivos.emit('ineeddata', (true));
            socketArchivos.on('ineeddata', (datos) => {
                let dadArchivos = document.querySelector(".dadArchivos")
                if(datos.archivosPrivados.length > 0){
                    let variableTmp = '';
                    let datoP = [];
                    datos.archivosPrivados.forEach((datoprivado) => {
                        if(datoprivado.psde == '<%= password %>'){
                            datoP.push(datoprivado)
                        }
                    })
                    setTimeout(() => {
                        if(datoP.length > 0){
                            dp.style.display = 'flex'
                            document.querySelector('#private-arch').style.display = 'block'
                            datoP.forEach((dt, index) => {
                                if(datos.exts[index].trim() == ".jpg" || datos.exts[index].trim() == '.png' || datos.exts[index].trim() == '.jpeg' || datos.exts[index].trim() == '.pdf' || datos.exts[index].trim() == '.webp' || datos.exts[index].trim() == '.txt'){
                                    variableTmp += `
                                    <a href='/open/${dt.nombre}' class="privado-archivo">
                                        <h2>${dt.ID}</h2>
                                        <h2>${dt.originalname.length >= 16 ? dt.originalname.substring(0,16) + '...' : dt.originalname}</h2>
                                        <p>${dt.fecha}</p>
                                        <p><b>${dt.de}</b></p>
                                        <span class='animation-box' title='${dt.originalname}'>Abrir</span>
                                    </a>
                                    `
                                }else{
                                    variableTmp+=`
                                    <a href='/open/${dt.ID}' download="${dt.originalname}" class="privado-archivo">
                                        <h2>${dt.ID}</h2>
                                        <h2>${dt.originalname.length >= 16 ? dt.originalname.substring(0,16) + '...' : dt.originalname}</h2>
                                        <p>${dt.fecha}</p>
                                        <p>${dt.de}</p>
                                        <span class='animation-box' title='${dt.originalname}'>Descargar</span>
                                    </a>
                                    `
                                }
                            })
                            dp.innerHTML = variableTmp;
                        }
                    }, 100);
                }
                if(datos.archivosPublicos.length > 0){
                    document.querySelector(".archivos").style.display = 'block';
                    let temp = '';
                    datos.archivosPublicos.forEach((dt, index) => {
                        if(datos.exts[index].trim() == ".jpg" || datos.exts[index].trim() == '.png' || datos.exts[index].trim() == '.jpeg' || datos.exts[index].trim() == '.pdf' || datos.exts[index].trim() == '.webp' || datos.exts[index].trim() == '.txt'){
                            temp += `
                            <a href='/open/${dt.nombre}' class="childArchivo">
                                <h2>${dt.ID}</h2>
                                <h2>${dt.originalname.length >= 16 ? dt.originalname.substring(0,16) + '...' : dt.originalname}</h2>
                                <p>${dt.fecha}</p>
                                <p><b>${dt.de}</b></p>
                                <span class='animation-box' title='${dt.originalname}'>Abrir</span>
                            </a>
                            `
                        }else{
                            temp+=`
                            <a key='1' href='/open/${dt.ID}' download="${dt.originalname}" class="childArchivo">
                                <h2>${dt.ID}</h2>
                                <h2>${dt.originalname.length >= 16 ? dt.originalname.substring(0,16) + '...' : dt.originalname}</h2>
                                <p>${dt.fecha}</p>
                                <p>${dt.de}</p>
                                <span class='animation-box' title='${dt.originalname}'>Descargar</span>
                            </a>
                            `
                        }
                    })
                    dadArchivos.innerHTML = temp;
                }else{
                    document.querySelector(".archivos").style.display = 'none';
                }

            })

        }

        obtenerArchivos()

        document.querySelector('#formAdd input[type=file]').addEventListener('change', (e) => {
            document.querySelector('#data-file').style.display = 'block'
            document.querySelector("#data-file").innerText = e.target.files[0].name
        })

        document.querySelector('#formAdd input[type=file]').addEventListener('click', (e) => {
            document.querySelector('#data-file').style.display = 'block'
            document.querySelector("#data-file").innerText = ""
        })

        document.querySelector('#formAdd').addEventListener('submit', (e) => {
            e.preventDefault();
            if(typeof document.querySelector('#formAdd input[type=file]').files[0] != 'undefined'){
                let formData = new FormData();
                formData.append('archivo', document.querySelector('#formAdd input[type=file]').files[0]);
                formData.append('publicPrv', pv);
                formData.append('del', '<%= rol %> <%= nombre %> <%= apellido %>')
                formData.append('psd', '<%= password %>')
                fetch('/api-rest/add', {
                    method: 'POST',
                    body: formData
                })
                    .then(rs => rs.json())
                    .then(data => {
                        if(data.status === 200){
                            socketArchivos.emit('ineeddata', (true));
                            document.querySelector('#formAdd').reset();
                            document.querySelector('#data-file').style.display = 'none'
                            obtenerArchivos();
                            Swal.fire({
                                title: 'Add',
                                text: data.message,
                                icon: 'success',
                                timer: 1000
                            })
                        }
                    })
            }else{
                Swal.fire({
                    title: 'Add',
                    text: 'Completa el campo!',
                    icon: 'error',
                    confirmButtonText: 'Try Again'
                })
            }
        })
    </script>
    <script src="/api/app.js"></script>
</body>
</html>